.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 35px;
}

.heading {
    font-size: 1.5em;
    font-weight: bold;
}

.details-update {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
}

.details-pair-update {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.update-heading,
.update-name,
textarea {
    min-width: 100%;
}

input,
textarea {
    padding: 0;
    border: 0;
    border-bottom: 1px solid #0d1321;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--text-dark);
    transition: all 0.25s;
    border: none;
    border-radius: 5px;
}

.link:hover,
.active {
    background-color: var(--primary-color);
    color: var(--text-light);
}

.active:hover {
    background: var(--secondary-color);
}