.items {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-column-gap: 20px;
}

.items-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 20px 0;
}

.items-details {
    padding: 20px 0px;
}