.link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--text-dark);
    transition: all 0.25s;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    width: 100%;
}

.link:hover,
.active {
    background-color: var(--primary-color);
    color: var(--text-light);
}

.active:hover {
    background: var(--secondary-color);
}